h1{
    transition: background-size .7s, background-position .5s ease-in-out;
    background-image: linear-gradient(rgba(231, 170, 110, 0.607),rgba(231, 170, 110, 0.607));
   background-size: 100% 10px;
   background-repeat: no-repeat;
   background-position: 100% 0%;
   position:relative;
   text-align: center;
  margin-top:40px;
   left: 20%;
   color:rgb(0, 0, 0);
   transform: translate(-50%,-50%);
   width: 350px;
   float:left;
   
 }
 h1:hover {
   
   background-size: 20%;
   background-position: 2% 100%;
 }

 
 
 .buttons{
   background-color: rgba(231, 170, 110, 0.607);
  
   border-radius: 8px;
   border-style: none;
   box-sizing: border-box;
   display: inline-block;
   font-size: 15px;
   text-align: center;
   padding: 10px 16px;
   margin: 10px;
   position:relative;
   transition: background-color 0.3s, color 0.3s;
   cursor:pointer;
 
 }
 .buttons:hover{
 background-color:#ffd9006d;
 color: black;
 }
 .buttons.selected{
 background-color: #ffb700;
 color: black;
 }
 
 
 .Box{
   padding-top: 4%;
 margin-left: 60%;
 margin-bottom: 0%;
 width: 700px;
 }
 
 h2{
   clear: both;
 }
 
 
 .image-container {
   position: relative;
   display: inline-block;
   
 }
 .Zadnasnimka {
   display: block;
   width: 100%;
   height: 1000px;
   margin-bottom: 0%;
   
 }
 
 .overlayText {
   position: absolute;
   top: 20%; 
   left: 50%; 
   transform: translate(-50%, -50%); 
   background-color: #000000c2; 
   color: #ffb700; 
   padding: 10px 20px; 
   font-size: 25px; 
   text-align: center;
   border-radius: 8px;
   
 }
 
 .Favv{
   position: absolute;
   top: 50%; 
   left: 4%; 
 
  
 }
 #Fav1{
   width: 200px; 
   height: 200px; 
   margin-left: 400px;
   border-radius: 50%; 
   float: left;
   
   border: #000000 solid 10px;
   
 }
 
 #Fav2{
   clear:both;
   width: 200px; 
   height: 200px; 
    margin-top: 0px;
     margin-left: 200px;
     border-radius: 300px;
     float: left;
    
     border: #000000 solid 10px;
     clear:left;
 }
 #Fav3{
   clear:both;
   width: 200px; 
   height: 200px; 
     border-radius: 300px;
     float: left;
  
     border: #000000 solid 10px;
     clear:left;
 }
 

 
 .krai{
   width:100%;
         height: 200px;
         background-color:rgba(231, 170, 110, 0.607);
         border:1px none black;
         margin:0;
     
 }
 
 .logo{
  
   
   font-size: 30px;
   position:relative;
   text-align: center;
  margin-top:50px;
   left: 6%;
   color:rgb(0, 0, 0);
   width: 100px;
   float:left;
   color:#000000; text-shadow: 10px 20px 4px #000;
   letter-spacing:30px;
   
 }
 .contact{
   
   font-size: 20px;
   position:relative;
  margin-top:70px;
   left: 30%;
   color:rgb(0, 0, 0);
   width: 400px;
   float:left;
   text-align: center;
 
   border-top: solid 2px;
   border-bottom: solid 2px;
   font-variant:small-caps;
 }
 
 body {
     margin:0;
    
 }


#page{
float: right;
margin-left: 250px ;
margin-top: 50px;

}
#recepta{
  cursor:pointer;
  width:350px;
  letter-spacing: 5px;
}
 #panel, #recepta {
  padding: 20px;
  text-align: center;
  background-color: rgba(231, 171, 110, 0.826);
  border: solid 1px #453636;
  clear: both;
  border-radius: 3%;
font-weight: bold;
font-size: 18px;

}

 #panel {
  padding: 50px;
  display: none;
  height: 400px;
  width:290px;
  line-height: 2;
  font-size: 16px;

}

.predstavqne{
  position: absolute;
  top: 10%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: #000000; 
  padding: 10px 20px; 
  font-size: 25px; 
  text-align: center;
  font-family: Garamond, serif;
  letter-spacing:5px;
  
}
#about{

  font-size: 22px; 
  margin-top: 25% ;
 letter-spacing: normal;


}
.Favv2{
  position: absolute;
   top: 50%; 
   left: 4%; 
   margin-left: 400px ;
   clear: both;
}
#Fav4{
  width: 200px; 
  height: 200px; 
  border-radius: 30%; 
  border: #ffffff solid 5px;
margin-top: 400px;
float: left;
clear: both;

}

#name{
  font-size: 17px;
  font-weight: bold;
  margin-left: 60px;
  width: 100px;

    float: left;
    clear: both;
  
}


#page2{
  float: right;
  margin-left:200px ;
  
}
#erik{

  width: 300px;
  
}



































 @media screen and (max-width: 600px){
    h1{
    
 
        
        background-image: linear-gradient(rgba(231, 170, 110, 0.607),rgba(231, 170, 110, 0.607));
       background-size: 100% 2px;
       background-repeat: no-repeat;
       background-position: 100% 0%;
       position:relative;
       text-align: center;
      margin-top:40px;
       left: 60%;
       color:rgb(0, 0, 0);
       transform: translate(-50%,-50%);
       width: 100%;
       float:left;
       
       clear: both;
     }
    
     
     
     
     .buttons{
       background-color: rgba(231, 170, 110, 0.607);
      
       border-radius: 8px;
       border-style: none;
       box-sizing: border-box;
       display: inline-block;
       font-size: 15px;
       text-align: center;
       padding: 10px 16px;
       position:relative;
       transition: background-color 0.3s, color 0.3s;
       cursor:pointer;
       
     
     }
     .buttons:hover{
     background-color:#ffd9006d;
     color: black;
     }
     .buttons.selected{
     background-color: #ffb700;
     color: black;
     }
     
     
     .Box{
      
        margin-left:15%;
     margin-bottom: 0%;
     margin-top: 0%;
     width: 100%;
     display: flex;
     
    
     }
     
     h2{
       clear: both;
     }
     
     
     .image-container {
       position: relative;
       display: inline-block;
     }
     .image-container img {
       display: block;
       width: 100%;
       height: 550px;
     }
     
     .overlayText {
       position: absolute;
       top: 20%; 
       left: 50%; 
       transform: translate(-50%, -50%); 
       background-color: #000000; 
       color: #ffb700; 
       padding: 10px 20px; 
       font-size: 20px; 
       text-align: center;
       border-radius: 8px;
     }
     
     .Favv{
       position: absolute;
       top: 30%; 
       left: 4%; 
     
      
     }
     #Fav1{
       width: 100px; 
       height: 100px; 
       margin-left: 100px;
       border-radius: 50%; 
       float: left;
       cursor:pointer;
     }
     #Fav1:hover{
     background-color:#ffd9006d;
     color: black;
     }
     #Fav2{
       clear:both;
       width: 100px; 
       height: 100px; 
        margin-top: 0px;
         margin-left: 100px;
         border-radius: 300px;
         float: left;
         cursor:pointer;
     }
     #Fav3{
       clear:both;
       width: 100px; 
       height: 100px; 
         border-radius: 300px;
         margin-left: 100px;
         float: left;
         cursor:pointer;
        
     }
     
     /*
     hr{
       width: 100%;
         height: 2px;
         background-color: black;
         clear: both;
         margin: 0%;
     }*/
     
     .krai{
       width:100%;
             height: 650px;
             background-color:rgba(231, 170, 110, 0.607);
             border:1px none black;
             margin:0;
         
     }
     
     .logo{
      
       
       font-size: 20px;
       position:relative;
       text-align: center;
      margin-top:50px;
       left: 6%;
       color:rgb(0, 0, 0);
       width: 100px;
       float:left;
       color:#000000; text-shadow: 10px 20px 4px #000;
       letter-spacing:30px;
       
     }
     .contact{
        clear: both;
       font-size: 20px;
       position:relative;
      margin-top:70px;
       left: 30%;
       color:rgb(0, 0, 0);
       width: 200px;
       float:left;
       text-align: center;
     
       border-top: solid 1px;
       border-bottom: solid 1px;
       font-variant:small-caps;
       
     }
     
     body {
         margin:0;
        
     }
 
 }